#contentLogin {
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
}

#contenedorPrincipal{
    animation:opac 1s;
}

#contentRegistro {
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 10px;
}

#tabla {
    height: 400px;
    overflow-y: auto;
}

#table_id_length {
    text-align: initial;
}

#aparecer{
    animation:opac 1s;
}
@keyframes opac{from{opacity:0} to{opacity:1}}

#hover{
    animation:animatezoom 1s;
}

@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


#collapseProduc {
    margin-left: 45px;
}

#collapseProduc a {
    padding-left: 5px;
}

.nav-link:hover {
    background-color: white;
}

.nav-link:hover>span {
    color: black;
}

input[type="file"] {
    display: none;
}


.activo {
    background-color: white;
    color: black;
}

.activos {
    background-color: rgb(21, 42, 232);
    color: white;
}

#navMain {
    position: absolute;
    height: 100vh;    
    background-color: var(--color3);
    transition: all 0.5s;
}

.menuIcon,
.cerrar,
#menuSecundario {
    display: none;
}

@media(max-width: 900px) {
    #navMain {
        margin-left: -230px;
        position: fixed;        
        min-height: 100vh;
        z-index: 2;        
    }

    #navMain.menuActivo {
        margin-left: 0;
        max-width: 100vw;
    }

    .menuIcon,
    .cerrar,
    #menuSecundario {
        display: block;
    }
}

:root{
    --color1: #101c23;
    --color2: #152e3b;
    --color3: #12495a;
    --color4: #1a7179;
    --color5: #20939e;
}

table thead{
    background-color: var(--color5);
    color: white;
}

/* :root{
    --color6: #113a2d;
    --color7: #0f5a3a;
    --color8: #288544;
    --color9: #72b94d;
    --color10: #d8fa5d;
}
.color1 {color: #000021;}
.color2 {color: #00334f;}
.color3 {color: #5d7687;}
.color4 {color: #b6bfc4;}
.color5 {color: #ffffff;}

.color1 {color: #123255;}
.color2 {color: #2e5e7c;}
.color3 {color: #7aa1b1;}
.color4 {color: #cae6e8;}
.color5 {color: #f3f3f3;}

.color1 {color: #1a4a7b;}
.color2 {color: #1d6a95;}
.color3 {color: #789fbe;}
.color4 {color: #bdd1e1;}
.color5 {color: #f3f3f3;}
  
.color1 {color: #004870;}
.color2 {color: #3f7391;}
.color3 {color: #86a8ba;}
.color4 {color: #cedfe6;}
.color5 {color: #ffffff;} */