#logo {
    margin-left: 25%;
}

#imagenLogin {
    background: #495c83;
    border-radius: 10px;
}

#contentLogin {
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
}

#contentRegistro {
    margin-top: 10%;
    border: 1px solid black;
    border-radius: 10px;
}

#tabla {
    height: 400px;
    overflow-y: auto;
}

#table_id_length {
    text-align: initial;
}



#collapseProduc {
    margin-left: 45px;
}

#collapseProduc a {
    padding-left: 5px;
}

.nav-link:hover {
    background-color: white;
}

.nav-link:hover>span {
    color: black;
}

input[type="file"] {
    display: none;
}


.activo {
    background-color: white;
    color: black;
}

#navMain {
    position: absolute;
    height: 100vh;    
    background-color: #495c83;
    transition: all 0.5s;
}

#menuMain{
    height: 100%;
}

.menuIcon,
.cerrar {
    display: none;
}

@media(max-width: 900px) {
    #navMain {
        margin-left: -230px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #navMain.menuActivo {
        margin-left: 0;
    }

    .menuIcon,
    .cerrar {
        display: block;
    }
}